In [271]:
from pathlib import Path
import pandas as pd
from datetime import  datetime, timedelta
import numpy as np
from tqdm.notebook import tqdm

In [272]:
path = Path(r'C:\Users\Admin\Documents') /'Purdue Work'/'PhD Purdue'/'Python Codes for research'/'Steele model'

In [273]:
filename = path / 'bin1.xlsx'
df = pd.read_excel(filename)
df
# filename = path / 'Fan Bin5.csv'
# bin_5 = pd.read_csv(path / 'Fan Bin5.csv')
# bin_5

                         Date  CO2_Headspace  CO2_Plenum
0     2019-09-18 10:54:39.000       3.802920    0.875591
1     2019-09-18 11:04:39.000       4.202260    0.899825
2     2019-09-18 11:14:39.000       4.588950    0.914576
3     2019-09-18 11:24:39.000       4.946930    0.919318
4     2019-09-18 11:34:40.000       5.292000    0.927484
...                       ...            ...         ...
44920 2020-07-28 11:54:40.401       9.977262    0.029192
44921 2020-07-28 12:04:40.431       9.977242    0.029184
44922 2020-07-28 12:14:40.461       9.977122    0.029195
44923 2020-07-28 12:24:40.431       9.977045    0.029204
44924 2020-07-28 12:34:40.471       9.977222    0.029200

[44925 rows x 3 columns]

In [274]:
# def daily_mean(df,Date,col):
#      return df[Date][col].mean()

# data = np.random.rand(100)
# columns = ['CO2_Plenum']
# times = pd.date_range('20190918',freq='24H',periods=100)
# df = pd.DataFrame(data=data,index=times,columns=columns)

# dates = df.index.strftime('%Y%m%d').unique()
# means = [daily_mean(df,date,'A') for date in dates]

In [275]:
df['Date'] = pd.to_datetime(df['Date'])
df['date'] = df['Date'].apply(lambda t:t.date())

In [276]:
# df = df[['Date', 'CO2_Plenum', 'CO2_Headspace']].copy()
# df

In [277]:
# df.to_csv(path / 'Bin333_daily_avgtest.csv', index=False)

In [278]:
df= df.groupby(pd.Grouper(freq='D', key='Date')).mean()
df
# df = df[['Date', 'CO2_Plenum', 'CO2_Headspace']].copy()
# df1 = df.groupby('Date', as_index=False).mean()
# df1['Time']= pd.to_timedelta(df1["Time"])
# daily_avg_df

            CO2_Headspace  CO2_Plenum
Date
2019-09-18       9.111999    6.369787
2019-09-19       7.709602    6.010080
2019-09-20       8.675030    6.260488
2019-09-21       9.849992    9.991090
2019-09-22       9.008159    4.673557
...                   ...         ...
2020-07-24       9.976943    0.984136
2020-07-25       9.976640    0.855975
2020-07-26       9.976092    0.547083
2020-07-27       9.976180    0.429587
2020-07-28       9.978352    0.566480

[315 rows x 2 columns]

In [279]:
# df2=[df]
# df2=df2[['Date','CO2_Plenum']].copy()
# df2

In [280]:
# df = df[['Date', 'date', 'CO2_Plenum', 'CO2_Headspace']].copy()
df.to_csv(path / 'Bin11_daily_avgtest.csv', index=True)

In [281]:
# df['Time']= pd.to_timedelta(df["Time"]).values.astype(np.int64)
# df1 = df.groupby('Date', as_index=False).mean()
# df1['Time']= pd.to_timedelta(df1["Time"])
# print (df1)