In [4]:
from pathlib import Path
import pandas as pd
from tqdm.notebook import tqdm 
from datetime import  datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter, MonthLocator

In [5]:
#df = pd.read_csv ("U:\\Amber Ag\ASABE 2022\Bin13_amber_raw\B13_clean_hp_pl\Bin13_pl_clean.csv")
#df

# #df = pd.read_excel ("U:\\Amber Ag\ASABE 2022\Bin16_amber_raw\B16_clean_hp_pl\Bin16_hp_clean.xlsx")
# #df
# df = pd.read_excel ("U:\\Amber Ag\ASABE 2022\Ambient_Nov20-toNov2021\Ambient_clean\Amb_temp_rh_Nov20-Nov21.xlsx", sheet_name = 'Sheet2')
# #df = (df, sheet_name = 'Sheet1')
# df
path='U:\\Amber Ag\ASABE 2022'
df = pd.read_excel ("U:\\Amber Ag\ASABE 2022\Data_date.xlsx")
df

          Date          A          B          C          D          E
0   2020-11-09  72.126667  14.929250  19.425926  16.781019  17.076829
1   2020-11-10  72.590833  14.974917  19.671759  16.806944  17.112731
2   2020-11-11  79.719298  16.790167   4.139352   7.892398   8.189172
3   2020-11-12  73.570000  15.604583   3.494444   5.658333   5.839792
4   2020-11-13  76.159355  15.651130   2.776620   4.770609   4.987151
..         ...        ...        ...        ...        ...        ...
286 2021-10-30  73.905833  15.177750  11.431250  12.258333  12.471273
287 2021-10-31  73.243333  15.269667   9.195833  11.294907  11.656528
288 2021-11-01  73.830833  15.541583   4.262963   8.027778   8.037014
289 2021-11-02  72.193333  15.357583   3.129167   7.437037   7.574074
290 2021-11-03  70.335000  15.144750   2.085417   6.811111   7.123056

[291 rows x 6 columns]

In [ ]:
#df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y %H:%M:%S %p')
#df['datetime_utc'] = pd.to_datetime(df['datetime_utc'], format='%m/%d/%Y %H:%M')
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y %H:%M:%S %p')
#df['datetime_utc'] = pd.to_datetime(df['datetime_utc'], format='%m/%d/%Y %H:%M')
#data['datetime_utc'] = pd.to_datetime(data['datetime_utc'], format='%Y-%m-%d')
# daily

#df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
# daily
#Daily_average = df.groupby(pd.Grouper(freq='D', key='Date')).mean()
#Daily_average.to_csv(path+ '\Ambient_rh_dailyavg.csv') 
Monthly_average = df.groupby(pd.Grouper(freq='M', key='Date')).mean().sort_values('Date')
print(Monthly_average)
Monthly_average.to_csv(path+'\B16_All_merge_monthlyavg.csv')