In [82]:
#Bin5_steele_multiplier
from pathlib import Path
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm 
import datetime
from pandas import ExcelWriter
#from pandas import Excelfile

In [83]:
path = Path('W:') / 'Amber Ag' / 'Amber clean data/Bin 13 review'

In [84]:
xls = pd.ExcelFile ('W:/Amber Ag/Amber clean data/Bin 13 review/Measured_CO2_bin13.xlsx')
mf = pd.read_excel(xls, sheet_name = 'Sheet1')
mf

                Date_CO2  CO2_Plenum  CO2_Headspace
0    2020-11-06 15:44:00    0.536337       0.528224
1    2020-11-06 16:44:00    0.545077       0.501610
2    2020-11-06 17:44:00    0.533929       0.512470
3    2020-11-06 18:44:00    0.563265       0.493393
4    2020-11-06 19:44:00    0.557900       0.502317
...                  ...         ...            ...
4240 2021-06-29 08:09:17    1.010390       0.688406
4241 2021-06-29 09:09:17    1.031200       0.652999
4242 2021-06-29 10:09:17    0.639600       0.755687
4243 2021-06-29 11:09:17    0.613771       0.585116
4244 2021-06-29 12:09:17    0.595479       0.522886

[4245 rows x 3 columns]

In [85]:
xls = pd.ExcelFile ('W:/Amber Ag/Amber clean data/Bin 13 review/Bin13_steele_cal_update.xlsx')
cf = pd.read_excel(xls, sheet_name = 'Bin13_steele_update')
cf

,Unnamed: 0,Unnamed: 0.1,Steady date,OPI_DATE,Avg_Temp,RH,Avg_MC,Mt,Mm,Md,Mh,Mf,m,gCO2/kg DM,Cum_gCO2/kg DM,gCO2,mgCO2,mg/m^3,CO2 in ppm,Cum_CO2 in ppm
0,0,1,2020-11-03 14:51:00.000,2020-11-03 14:51:00,14.159259,55.64,14.83,1.219749,32.436849,2.077516,1,1,82.196499,0.000277,0.000277,2.130059,2130.058919,604.186333,1087.535400,1.087535e+03
1,1,2,2020-11-03 15:51:00.000,2020-11-03 15:51:00,14.240741,56.38,14.83,1.205344,32.436849,2.077516,1,1,81.225782,0.000281,0.000558,2.155515,2155.515250,611.406963,1100.532534,2.188068e+03
2,2,3,2020-11-03 16:51:00.000,2020-11-03 16:51:00,12.729630,59.72,14.83,1.502431,32.436849,2.077516,1,1,101.245951,0.000225,0.000783,1.729284,1729.283726,490.507368,882.913262,3.070981e+03
3,3,4,2020-11-03 17:51:00.000,2020-11-03 17:51:00,9.586111,66.56,14.83,2.375979,32.436849,2.077516,1,1,160.112663,0.000142,0.000926,1.093495,1093.494536,310.167221,558.300997,3.629282e+03
4,4,5,2020-11-03 18:51:00.000,2020-11-04 12:30:00,18.144444,61.24,14.83,0.171634,32.436849,2.077516,1,1,11.566063,0.001971,0.002897,15.138836,15138.836391,4294.096267,7729.373281,1.135866e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5748,5748,5749,2021-07-01 02:50:59.999,2021-10-08 12:02:00,27.351852,57.14,13.81,0.044832,70.584474,2.077516,1,1,6.574183,0.003469,26.991933,26.635787,26635.787017,7555.179979,13599.323963,1.058255e+08
5749,5749,5750,2021-07-01 03:50:59.999,2021-10-08 13:02:00,27.814815,55.96,13.72,0.041906,76.159166,2.077516,1,1,6.630403,0.003439,26.995372,26.409905,26409.905072,7491.109083,13483.996350,1.058390e+08
5750,5750,5751,2021-07-01 04:50:59.999,2021-10-08 14:02:00,28.888889,53.40,13.55,0.035831,88.239319,2.077516,1,1,6.568548,0.003472,26.998844,26.658642,26658.641678,7561.662651,13610.992773,1.058526e+08
5751,5751,5752,2021-07-01 05:50:59.999,2021-10-08 15:02:00,28.496296,53.44,13.56,0.037942,87.466626,2.077516,1,1,6.894593,0.003307,27.002151,25.397769,25397.768724,7204.018926,12967.234067,1.058656e+08
5752,5752,5753,2021-07-01 06:50:59.999,2021-10-08 16:02:00,27.788889,54.46,13.63,0.042064,82.283181,2.077516,1,1,7.190688,0.003171,27.005322,24.351800,24351.800271,6907.332370,12433.198266,1.058780e+08

In [86]:
cf['CO2_Headspace'] = np.nan
cf['CO2_Plenum'] = np.nan

In [87]:
mf['Date_CO2'] = mf['Date_CO2'].apply(lambda x: x.replace(minute=0, second=0))
mf = mf.drop_duplicates(subset='Date_CO2')
mf = mf.set_index('Date_CO2')
mf

                     CO2_Plenum  CO2_Headspace
Date_CO2
2020-11-06 15:00:00    0.536337       0.528224
2020-11-06 16:00:00    0.545077       0.501610
2020-11-06 17:00:00    0.533929       0.512470
2020-11-06 18:00:00    0.563265       0.493393
2020-11-06 19:00:00    0.557900       0.502317
...                         ...            ...
2021-06-29 08:00:00    1.010390       0.688406
2021-06-29 09:00:00    1.031200       0.652999
2021-06-29 10:00:00    0.639600       0.755687
2021-06-29 11:00:00    0.613771       0.585116
2021-06-29 12:00:00    0.595479       0.522886

[3885 rows x 2 columns]

In [88]:
index_list = mf.index.to_list()
for index, row in cf.iterrows():
    calculate_time = row['OPI_DATE'].replace(minute=0)  
    if calculate_time in index_list:
        cf.loc[index, 'CO2_Headspace'] = mf.loc[calculate_time, 'CO2_Headspace']

In [89]:
cf

,Unnamed: 0,Unnamed: 0.1,Steady date,OPI_DATE,Avg_Temp,RH,Avg_MC,Mt,Mm,Md,...,m,gCO2/kg DM,Cum_gCO2/kg DM,gCO2,mgCO2,mg/m^3,CO2 in ppm,Cum_CO2 in ppm,CO2_Headspace,CO2_Plenum
0,0,1,2020-11-03 14:51:00.000,2020-11-03 14:51:00,14.159259,55.64,14.83,1.219749,32.436849,2.077516,...,82.196499,0.000277,0.000277,2.130059,2130.058919,604.186333,1087.535400,1.087535e+03,NaN,NaN
1,1,2,2020-11-03 15:51:00.000,2020-11-03 15:51:00,14.240741,56.38,14.83,1.205344,32.436849,2.077516,...,81.225782,0.000281,0.000558,2.155515,2155.515250,611.406963,1100.532534,2.188068e+03,NaN,NaN
2,2,3,2020-11-03 16:51:00.000,2020-11-03 16:51:00,12.729630,59.72,14.83,1.502431,32.436849,2.077516,...,101.245951,0.000225,0.000783,1.729284,1729.283726,490.507368,882.913262,3.070981e+03,NaN,NaN
3,3,4,2020-11-03 17:51:00.000,2020-11-03 17:51:00,9.586111,66.56,14.83,2.375979,32.436849,2.077516,...,160.112663,0.000142,0.000926,1.093495,1093.494536,310.167221,558.300997,3.629282e+03,NaN,NaN
4,4,5,2020-11-03 18:51:00.000,2020-11-04 12:30:00,18.144444,61.24,14.83,0.171634,32.436849,2.077516,...,11.566063,0.001971,0.002897,15.138836,15138.836391,4294.096267,7729.373281,1.135866e+04,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5748,5748,5749,2021-07-01 02:50:59.999,2021-10-08 12:02:00,27.351852,57.14,13.81,0.044832,70.584474,2.077516,...,6.574183,0.003469,26.991933,26.635787,26635.787017,7555.179979,13599.323963,1.058255e+08,NaN,NaN
5749,5749,5750,2021-07-01 03:50:59.999,2021-10-08 13:02:00,27.814815,55.96,13.72,0.041906,76.159166,2.077516,...,6.630403,0.003439,26.995372,26.409905,26409.905072,7491.109083,13483.996350,1.058390e+08,NaN,NaN
5750,5750,5751,2021-07-01 04:50:59.999,2021-10-08 14:02:00,28.888889,53.40,13.55,0.035831,88.239319,2.077516,...,6.568548,0.003472,26.998844,26.658642,26658.641678,7561.662651,13610.992773,1.058526e+08,NaN,NaN
5751,5751,5752,2021-07-01 05:50:59.999,2021-10-08 15:02:00,28.496296,53.44,13.56,0.037942,87.466626,2.077516,...,6.894593,0.003307,27.002151,25.397769,25397.768724,7204.018926,12967.234067,1.058656e+08,NaN,NaN
5752,5752,5753,2021-07-01 06:50:59.999,2021-10-08 16:02:00,27.788889,54.46,13.63,0.042064,82.283181,2.077516,...,7.190688,0.003171,27.005322,24.351800,24351.800271,6907.332370,12433.198266,1.058780e+08,NaN,NaN

In [90]:
index_list = mf.index.to_list()
for index, row in cf.iterrows():
    calculate_time = row['OPI_DATE'].replace(minute=0)  
    if calculate_time in index_list:
        cf.loc[index, 'CO2_Plenum'] = mf.loc[calculate_time, 'CO2_Plenum']

In [ ]:
cf.to_csv(path / 'Bin13_M_vs_Steele.csv')