In [1]:
from pathlib import Path
import pandas as pd
from tqdm.notebook import tqdm 
from datetime import  datetime, timedelta
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter, MonthLocator

In [2]:
#path = Path('W:') / 'Amber Ag' / 'ASABE 2022'/'PCA merging'/'Bin5_amber_raw'
path='U:\\Amber Ag\ASABE 2022\Fumigation\Amber_raw_aug23'

In [3]:
filename = path / 'BIN5_masterlist.xlsx'
df = pd.read_excel(filename, sheet_name = 'Sheet1')
df

,OPI_DATE,Center_cable,North_cable,East_cable,South_cable,West_cable,Grain_bulk_temp,Date,Headspace_temp,Headspace_RH,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,2020-11-03 16:51:00,58.600,53.720000,57.62500,56.260,57.280,56.697000,2020-11-09 17:32:22,57.211200,74.633400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-11-03 17:51:00,54.790,51.420000,54.51250,52.980,53.740,53.488500,2020-11-09 18:32:50,57.211200,74.633400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-11-04 12:28:00,59.880,56.913333,59.17500,58.320,58.660,58.589667,2020-11-09 19:32:45,57.211200,74.633400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-11-04 13:29:00,59.435,56.155000,58.49375,58.055,57.875,58.002750,2020-11-09 20:32:49,57.211200,74.633400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-11-04 14:29:00,59.072,55.904000,58.07000,57.976,57.708,57.746000,2020-11-09 21:33:08,57.211200,74.633400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,future work
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8371,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-03 11:14:41,40.380133,66.510846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8372,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-03 12:14:40,40.175654,66.409946,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8373,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-03 13:15:08,40.032258,66.323858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8374,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-03 14:15:07,40.108362,66.261296,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8375,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-03 15:15:30,40.403967,66.069796,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#First variable to use noting that the date here is priority
df1 = df[['OPI_DATE', 'Center_cable', 'North_cable', 'East_cable', 'South_cable', 'West_cable', 'Grain_bulk_temp']].dropna().set_index('OPI_DATE')
df1

,Center_cable,North_cable,East_cable,South_cable,West_cable,Grain_bulk_temp
OPI_DATE,,,,,,
2020-11-03 16:51:00,58.6000,53.720000,57.62500,56.2600,57.2800,56.697000
2020-11-03 17:51:00,54.7900,51.420000,54.51250,52.9800,53.7400,53.488500
2020-11-04 12:28:00,59.8800,56.913333,59.17500,58.3200,58.6600,58.589667
2020-11-04 13:29:00,59.4350,56.155000,58.49375,58.0550,57.8750,58.002750
2020-11-04 14:29:00,59.0720,55.904000,58.07000,57.9760,57.7080,57.746000
...,...,...,...,...,...,...
2021-11-03 11:09:00,44.7392,42.345600,44.04200,47.2792,44.1832,44.517840
2021-11-03 12:09:00,45.1040,42.540800,44.31000,47.5688,44.4504,44.794800
2021-11-03 13:09:00,45.4104,42.697600,44.51300,47.8064,44.6696,45.019400
2021-11-03 14:09:00,45.7144,42.855200,44.72500,48.0184,44.8952,45.241640
2021-11-03 15:09:00,45.8368,42.907200,44.80500,48.0992,44.9928,45.328200

In [5]:
time1 = df1.index
time1

DatetimeIndex(['2020-11-03 16:51:00', '2020-11-03 17:51:00',
               '2020-11-04 12:28:00', '2020-11-04 13:29:00',
               '2020-11-04 14:29:00', '2020-11-04 15:29:00',
               '2020-11-04 16:29:00', '2020-11-04 17:29:00',
               '2020-11-04 18:29:00', '2020-11-04 19:29:00',
               ...
               '2021-11-03 06:09:00', '2021-11-03 07:09:00',
               '2021-11-03 08:09:00', '2021-11-03 09:09:00',
               '2021-11-03 10:09:00', '2021-11-03 11:09:00',
               '2021-11-03 12:09:00', '2021-11-03 13:09:00',
               '2021-11-03 14:09:00', '2021-11-03 15:09:00'],
              dtype='datetime64[ns]', name='OPI_DATE', length=6181, freq=None)

In [6]:
#SECOND VARIABLE 
df2 = df[['Date', 'Headspace_temp', 'Headspace_RH', 'Headspace_CO2']].dropna()
df2

                    Date  Headspace_temp  Headspace_RH  Headspace_CO2
0    2020-11-09 17:32:22       57.211200     74.633400     537.000000
1    2020-11-09 18:32:50       57.211200     74.633400     537.000000
2    2020-11-09 19:32:45       57.211200     74.633400     537.000000
3    2020-11-09 20:32:49       57.211200     74.633400     537.000000
4    2020-11-09 21:33:08       57.211200     74.633400     537.000000
...                  ...             ...           ...            ...
8371 2021-11-03 11:14:41       40.380133     66.510846     563.083333
8372 2021-11-03 12:14:40       40.175654     66.409946     564.125000
8373 2021-11-03 13:15:08       40.032258     66.323858     564.625000
8374 2021-11-03 14:15:07       40.108362     66.261296     565.291667
8375 2021-11-03 15:15:30       40.403967     66.069796     566.125000

[8376 rows x 4 columns]

In [7]:
time2 = df2['Date'] #SECOND VARIABLE DATE
time2

0      2020-11-09 17:32:22
1      2020-11-09 18:32:50
2      2020-11-09 19:32:45
3      2020-11-09 20:32:49
4      2020-11-09 21:33:08
               ...
8371   2021-11-03 11:14:41
8372   2021-11-03 12:14:40
8373   2021-11-03 13:15:08
8374   2021-11-03 14:15:07
8375   2021-11-03 15:15:30
Name: Date, Length: 8376, dtype: datetime64[ns]

In [8]:
data = []
for timestamp in time1:
    min_index = np.argmin(np.abs(time2 - timestamp))  #argmin gives the lowest index on the dataframe
    row = df2.iloc[min_index]
    data.append({
        'OPI_DATE': timestamp,
        'Center_cable': df1.loc[timestamp]['Center_cable'],
        'North_cable': df1.loc[timestamp]['North_cable'],
        'East_cable': df1.loc[timestamp]['East_cable'],
        'South_cable': df1.loc[timestamp]['South_cable'],
        'West_cable': df1.loc[timestamp]['West_cable'],
        'Grain_bulk_temp': df1.loc[timestamp]['Grain_bulk_temp'],
        'Date': row['Date'],
        'Headspace_temp': row['Headspace_temp'],
        'Headspace_RH': row['Headspace_RH'],
        'Headspace_CO2': row['Headspace_CO2'],

    })
new_df = pd.DataFrame(data)
new_df

,OPI_DATE,Center_cable,North_cable,East_cable,South_cable,West_cable,Grain_bulk_temp,Date,Headspace_temp,Headspace_RH,Headspace_CO2
0,2020-11-03 16:51:00,58.6000,53.720000,57.62500,56.2600,57.2800,56.697000,2020-11-09 17:32:22,57.211200,74.633400,537.000000
1,2020-11-03 17:51:00,54.7900,51.420000,54.51250,52.9800,53.7400,53.488500,2020-11-09 17:32:22,57.211200,74.633400,537.000000
2,2020-11-04 12:28:00,59.8800,56.913333,59.17500,58.3200,58.6600,58.589667,2020-11-09 17:32:22,57.211200,74.633400,537.000000
3,2020-11-04 13:29:00,59.4350,56.155000,58.49375,58.0550,57.8750,58.002750,2020-11-09 17:32:22,57.211200,74.633400,537.000000
4,2020-11-04 14:29:00,59.0720,55.904000,58.07000,57.9760,57.7080,57.746000,2020-11-09 17:32:22,57.211200,74.633400,537.000000
...,...,...,...,...,...,...,...,...,...,...,...
6176,2021-11-03 11:09:00,44.7392,42.345600,44.04200,47.2792,44.1832,44.517840,2021-11-03 11:14:41,40.380133,66.510846,563.083333
6177,2021-11-03 12:09:00,45.1040,42.540800,44.31000,47.5688,44.4504,44.794800,2021-11-03 12:14:40,40.175654,66.409946,564.125000
6178,2021-11-03 13:09:00,45.4104,42.697600,44.51300,47.8064,44.6696,45.019400,2021-11-03 13:15:08,40.032258,66.323858,564.625000
6179,2021-11-03 14:09:00,45.7144,42.855200,44.72500,48.0184,44.8952,45.241640,2021-11-03 14:15:07,40.108362,66.261296,565.291667
6180,2021-11-03 15:09:00,45.8368,42.907200,44.80500,48.0992,44.9928,45.328200,2021-11-03 15:15:30,40.403967,66.069796,566.125000

In [9]:
new_df.to_excel(path/'bin5 list1.xlsx', index=False)