In [117]:
#Bin5_steele_multiplier
from pathlib import Path
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm 
import datetime
from pandas import ExcelWriter
#from pandas import Excelfile

In [118]:
path = Path('W:') / 'Amber Ag' / 'Amber clean data/Bin 13 review'

In [143]:
xls = pd.ExcelFile ('W:/Amber Ag/Amber clean data/Bin 13 review/Bin 13 Machine Learning/Solvita test/Nov2020_Samples/Bin_Suceptibility.xlsx')
df = pd.read_excel(xls, sheet_name = 'Solvita')
df

    Solvita condition            OPI_DATE  Time_Hr  Avg_Temp  Avg_MC
0                 NaN 2020-11-03 14:51:00       49        24      16
1                 NaN 2020-11-03 15:51:00       50        24      16
2                 NaN 2020-11-03 16:51:00       51        24      16
3                 NaN 2020-11-03 17:51:00       52        24      16
4                 NaN 2020-11-03 18:51:00       53        24      16
5                 NaN 2020-11-03 19:51:00       54        24      16
6                 NaN 2020-11-03 20:51:00       55        24      16
7                 NaN 2020-11-03 21:51:00       56        24      16
8                 NaN 2020-11-03 22:51:00       73        24      16
9                 NaN 2020-11-03 23:51:00       74        24      16
10                NaN 2020-11-04 00:51:00       75        24      16
11                NaN 2020-11-04 01:51:00       76        24      16
12                NaN 2020-11-04 02:51:00       77        24      16
13                NaN 2020-11-04 03:51:00       78        24      16
14                NaN 2020-11-04 04:51:00       79        24      16
15                NaN 2020-11-04 05:51:00       80        24      16

In [144]:
df['Mt'] = np.nan

In [146]:
for index, row in df.iterrows():
    temp = row['Avg_Temp']
    mc = row['Avg_MC']
    c2f = (1.8 * temp) + 32 
    if temp > 15.6 and \
       temp <= 49 and \
       mc <= 19:
        df.loc[index, 'Mt'] = 32.3 * (np.exp(
            -4.86 * ( c2f / 60 ) 
            ))

    elif temp > 15.6 and \
         temp <= 26.7 and \
         mc > 19 and mc <= 28:
        df.loc[index, 'Mt'] = np.exp(-0.00493277 + 
            (0.05*(c2f)-3)*(np.log(0.0795012 + 0.0123150*mc))) 

    elif temp > 15.6 and \
         temp <= 26.7 and \
         mc > 28:
        df.loc[index, 'Mt'] = np.exp(2.56683-
            0.0428628 * (1.8 * temp + 32))  
               
    elif temp > 26.7 and \
         temp <= 49 and \
         mc > 19 and mc <= 28:
        df.loc[index, 'Mt'] = 32.3 * (np.exp(-3.48 * 
            c2f)/60) + (mc-19/100) * (np.exp(0.61*(1.8 * temp-28)/60)) 

    elif temp > 26.7 and \
         temp <= 49 and \
         mc > 28:
        df.loc[index, 'Mt'] = 32.3 * (np.exp(-3.48 * 
            c2f)/60) + (0.09 * (np.exp(0.61*(1.8 * temp-28)/60)))
             

    elif temp >= 0 and \
         temp <= 15.6:
        df.loc[index, 'Mt'] = 128.389 * (np.exp(-4.86 * 
            c2f/60))

In [148]:
df['Mm'] = np.nan

In [149]:
for index, row in df.iterrows():
    temp = row['Avg_Temp']
    mc = row['Avg_MC']
    if mc >= 13 and \
       mc <= 35: 
        df.loc[index, 'Mm'] = 0.103 * (np.exp(
            455/((100 * mc) / (100-mc))**1.53)-
            ((0.845*mc) / (100-mc)) + 1.558)

In [150]:
df['Md'] = np.nan

In [151]:
#for index, row in df.iterrows():
    #temp = row['Avg_Temp']
    #mc = row['Avg_MC']
    #D = 0.05
    #df.loc[index, 'Md'] = 2.08 * (np.exp(-0.0239 * D))

In [152]:
#for time in hours
for index, row in df.iterrows():
    temp = row['Avg_Temp']
    mc = row['Avg_MC']
    t = row['Time_Hr']

In [184]:
df['Md'] = 0.7807

In [185]:
df['Mh'] = 0.91

In [186]:
df['Mf'] = 1

In [187]:
df['m'] = df['Mt'] * df['Mm'] * df['Md']*df['Mh']

In [189]:
df

,Solvita condition,OPI_DATE,Time_Hr,Avg_Temp,Avg_MC,Mt,Mm,Md,Mh,Mf,m,gCO2/kg DM,mgCO2/kg DM
0,NaN,2020-11-03 14:51:00,49,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.482512,482.512386
1,NaN,2020-11-03 15:51:00,50,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.492587,492.586788
2,NaN,2020-11-03 16:51:00,51,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.502671,502.670675
3,NaN,2020-11-03 17:51:00,52,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.512764,512.764070
4,NaN,2020-11-03 18:51:00,53,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.522867,522.866998
5,NaN,2020-11-03 19:51:00,54,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.532979,532.979483
6,NaN,2020-11-03 20:51:00,55,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.543102,543.101549
7,NaN,2020-11-03 21:51:00,56,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.553233,553.233221
8,NaN,2020-11-03 22:51:00,73,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.726965,726.965160
9,NaN,2020-11-03 23:51:00,74,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.737274,737.273962
10,NaN,2020-11-04 00:51:00,75,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.747593,747.592843
11,NaN,2020-11-04 01:51:00,76,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.757922,757.921830
12,NaN,2020-11-04 02:51:00,77,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.768261,768.260947
13,NaN,2020-11-04 03:51:00,78,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.778610,778.610221
14,NaN,2020-11-04 04:51:00,79,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.788970,788.969677
15,NaN,2020-11-04 05:51:00,80,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,0.799339,799.339341

In [190]:
df['gCO2/kg DM'] = np.nan
df['gCO2/kg DM'] = 1.3 * (np.exp(0.006 * df['Time_Hr']/ df['m']) - 1) + (0.015 * df['Time_Hr']/ df['m'])

In [191]:
df

,Solvita condition,OPI_DATE,Time_Hr,Avg_Temp,Avg_MC,Mt,Mm,Md,Mh,Mf,m,gCO2/kg DM,mgCO2/kg DM
0,NaN,2020-11-03 14:51:00,49,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.477594,482.512386
1,NaN,2020-11-03 15:51:00,50,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.510039,492.586788
2,NaN,2020-11-03 16:51:00,51,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.542587,502.670675
3,NaN,2020-11-03 17:51:00,52,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.575239,512.764070
4,NaN,2020-11-03 18:51:00,53,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.607997,522.866998
5,NaN,2020-11-03 19:51:00,54,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.640860,532.979483
6,NaN,2020-11-03 20:51:00,55,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.673830,543.101549
7,NaN,2020-11-03 21:51:00,56,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.706908,553.233221
8,NaN,2020-11-03 22:51:00,73,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.286459,726.965160
9,NaN,2020-11-03 23:51:00,74,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.321612,737.273962
10,NaN,2020-11-04 00:51:00,75,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.356890,747.592843
11,NaN,2020-11-04 01:51:00,76,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.392292,757.921830
12,NaN,2020-11-04 02:51:00,77,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.427819,768.260947
13,NaN,2020-11-04 03:51:00,78,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.463473,778.610221
14,NaN,2020-11-04 04:51:00,79,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.499254,788.969677
15,NaN,2020-11-04 05:51:00,80,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.535164,799.339341

In [192]:
df['mgCO2/kg DM'] = df['gCO2/kg DM'] * 1000

In [193]:
df

,Solvita condition,OPI_DATE,Time_Hr,Avg_Temp,Avg_MC,Mt,Mm,Md,Mh,Mf,m,gCO2/kg DM,mgCO2/kg DM
0,NaN,2020-11-03 14:51:00,49,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.477594,1477.593803
1,NaN,2020-11-03 15:51:00,50,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.510039,1510.038546
2,NaN,2020-11-03 16:51:00,51,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.542587,1542.586801
3,NaN,2020-11-03 17:51:00,52,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.575239,1575.239338
4,NaN,2020-11-03 18:51:00,53,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.607997,1607.996933
5,NaN,2020-11-03 19:51:00,54,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.640860,1640.860367
6,NaN,2020-11-03 20:51:00,55,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.673830,1673.830430
7,NaN,2020-11-03 21:51:00,56,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,1.706908,1706.907912
8,NaN,2020-11-03 22:51:00,73,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.286459,2286.458643
9,NaN,2020-11-03 23:51:00,74,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.321612,2321.612326
10,NaN,2020-11-04 00:51:00,75,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.356890,2356.889679
11,NaN,2020-11-04 01:51:00,76,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.392292,2392.291622
12,NaN,2020-11-04 02:51:00,77,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.427819,2427.819081
13,NaN,2020-11-04 03:51:00,78,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.463473,2463.472991
14,NaN,2020-11-04 04:51:00,79,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.499254,2499.254293
15,NaN,2020-11-04 05:51:00,80,24,16,0.073085,15.587184,0.7807,0.91,1,0.809322,2.535164,2535.163935

In [195]:
df.to_csv(path / 'Solvita_test_high.csv', index=False)