In [2]:
from pathlib import Path
import pandas as pd
from datetime import  datetime, timedelta
import numpy as np
from tqdm.notebook import tqdm

In [3]:
# Set the directory
#Run this first for OPI cleaning
# OPI CLEANING AND AVERAGING
path = Path('U:') / 'Opi system file' / 'SQL database'/ 'Fan data'

In [11]:
xls = pd.ExcelFile ('U:/Opi system file/SQL database/New Data Processing/PHERC 23JUNE2021.xls')
df = pd.read_excel(xls, 'B5_fan')
df

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,OPI_DATE,LOG_TYPE,STATE_CHANGE,INPUT_CODE,OVERRIDE_CODE,STATE_SETPOINTS,STATE_DATA
0,2020-06-25 14:09:10.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
1,2020-06-25 14:15:57.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
2,2020-06-27 08:16:32.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
3,2020-06-30 13:20:44.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
4,2020-08-18 13:55:47.000000,0,1,A0,NaN,0\t14.0\t2.5\t2.5\t40.0\t5.0\t5.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
...,...,...,...,...,...,...,...
826,2021-06-18 13:28:46.000000,0,0,A23,A8,3\t14.0\t1.0\t1.0\t56.0\t5.0\t3.0\t32.0\t20.0\...,T\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
827,2021-06-18 13:35:54.000000,0,1,A6,NaN,0\t14.0\t1.0\t1.0\t56.0\t5.0\t3.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2021-06-18 1...
828,2021-06-21 21:47:17.000000,0,1,A6,NaN,0\t14.0\t1.0\t1.0\t56.0\t5.0\t3.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2040-02-05 1...
829,2021-06-22 04:00:04.000000,0,1,A4,NaN,1\t14.0\t1.0\t1.0\t56.0\t5.0\t3.0\t32.0\t20.0\...,T\tF\t2040-02-05 19:28:16.000000\t2021-06-22 0...
830,2021-06-22 06:27:25.000000,0,1,A6,NaN,0\t14.0\t1.0\t1.0\t56.0\t5.0\t3.0\t32.0\t20.0\...,F\tF\t2040-02-05 19:28:16.000000\t2021-06-22 0...

In [12]:
df.columns

Index(['OPI_DATE', 'LOG_TYPE', 'STATE_CHANGE', 'INPUT_CODE', 'OVERRIDE_CODE',
       'STATE_SETPOINTS', 'STATE_DATA'],
      dtype='object')

In [37]:
clean_df = df[['OPI_DATE', 'STATE_DATA']]
# Change OPI_DATE format
clean_df['OPI_DATE'] = clean_df['OPI_DATE'].apply(lambda x: datetime.strptime(x[:-7], '%Y-%m-%d %H:%M:%S'))
# Get Date 
clean_df['STATE_DATA'] = clean_df['STATE_DATA'].apply(lambda x: x[0])
clean_df

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

               OPI_DATE STATE_DATA
0   2020-06-25 14:09:10          F
1   2020-06-25 14:15:57          F
2   2020-06-27 08:16:32          F
3   2020-06-30 13:20:44          F
4   2020-08-18 13:55:47          F
..                  ...        ...
826 2021-06-18 13:28:46          T
827 2021-06-18 13:35:54          F
828 2021-06-21 21:47:17          F
829 2021-06-22 04:00:04          T
830 2021-06-22 06:27:25          F

[831 rows x 2 columns]

In [43]:
start_time = clean_df['OPI_DATE'].min()
finish_time = clean_df['OPI_DATE'].max()

In [124]:
timestamps = []
time = start_time.replace(second=0, minute=0)
while time <= finish_time + timedelta(hours=1):
    timestamps.append(time)
    time = time + timedelta(hours=1)
result_df = pd.DataFrame(timestamps, columns=['Timestamp'])
result_df['Fan Time (minute)'] = ''
result_df['Fan Time Per Hour'] = ''
result_df

               Timestamp Fan Time (minute) Fan Time Per Hour
0    2020-06-25 14:00:00
1    2020-06-25 15:00:00
2    2020-06-25 16:00:00
3    2020-06-25 17:00:00
4    2020-06-25 18:00:00
...                  ...               ...               ...
8677 2021-06-22 03:00:00
8678 2021-06-22 04:00:00
8679 2021-06-22 05:00:00
8680 2021-06-22 06:00:00
8681 2021-06-22 07:00:00

[8682 rows x 3 columns]

In [157]:
current_state = clean_df.loc[0, 'STATE_DATA']
current_row = 0
on_start = clean_df.loc[0, 'OPI_DATE']
on_stop = clean_df.loc[0, 'OPI_DATE']
for index, row in result_df.iterrows():
    
    while clean_df.loc[current_row, 'OPI_DATE'] <= row['Timestamp'] \
          and clean_df.loc[current_row, 'STATE_DATA'] == 'F' \
          and current_row + 1 < clean_df['OPI_DATE'].count():
        current_row = current_row + 1
        
    if current_state == 'F' and clean_df.loc[current_row, 'STATE_DATA'] == 'T':
        on_start = clean_df.loc[current_row, 'OPI_DATE']
        while clean_df.loc[current_row, 'STATE_DATA'] == 'T' and current_row + 1 < clean_df['STATE_DATA'].count():
            current_row = current_row + 1
        on_stop = clean_df.loc[current_row, 'OPI_DATE']
#         print(on_start, '---------', on_stop)
    
    if row['Timestamp'] >= on_start.replace(second=0, minute=0) and row['Timestamp'] <= on_stop.replace(second=59, minute=59):
        result_df.at[index, 'Fan Time (minute)'] = 60
        if row['Timestamp'].date() == on_start.date() and \
           row['Timestamp'].hour == on_start.hour:
            result_df.at[index, 'Fan Time (minute)'] = result_df.loc[index, 'Fan Time (minute)'] - on_start.minute
        
        if row['Timestamp'].date() == on_stop.date() and \
           row['Timestamp'].hour == on_stop.hour:
            result_df.at[index, 'Fan Time (minute)'] = result_df.loc[index, 'Fan Time (minute)'] - (60 - on_stop.minute)
        
        result_df.at[index, 'Fan Time Per Hour'] = result_df.loc[index, 'Fan Time (minute)'] / 60
        
    
    current_state = clean_df.loc[current_row, 'STATE_DATA']

In [ ]:
# # current_state = clean_df.loc[0, 'STATE_DATA']
# current_row = 0
# on_start = clean_df.loc[0, 'OPI_DATE']
# on_stop = clean_df.loc[0, 'OPI_DATE']
# for index, row in result_df.iterrows():
#     while clean_df.loc[current_row, 'OPI_DATE'] < row['Timestamp'] and current_row + 1 < clean_df['OPI_DATE'].count():
#         current_row = current_row + 1
        
#     if current_state == 'F' and clean_df.loc[current_row, 'STATE_DATA'] == 'T':
#         on_start = clean_df.loc[current_row, 'OPI_DATE']
#         while clean_df.loc[current_row, 'STATE_DATA'] == 'T' and current_row + 1 < clean_df['STATE_DATA'].count():
#             current_row = current_row + 1
#         on_stop = clean_df.loc[current_row, 'OPI_DATE']
#         print(on_start, '---------', on_stop)
    
#     if row['Timestamp'] > on_start.replace(second=0, minute=0) and row['Timestamp'] < on_stop.replace(second=59, minute=59):
#         result_df.at[index, 'Fan Time (minute)'] = 60
#         if row['Timestamp'].date() == on_start.date() and \
#            row['Timestamp'].hour == on_start.hour:
#             result_df.at[index, 'Fan Time (minute)'] = result_df.loc[index, 'Fan Time (minute)'] - on_start.minute
        
#         if row['Timestamp'].date() == on_stop.date() and \
#            row['Timestamp'].hour == on_stop.hour:
#             result_df.at[index, 'Fan Time (minute)'] = result_df.loc[index, 'Fan Time (minute)'] - (60 - on_stop.minute)
        
#         result_df.at[index, 'Fan Time Per Hour'] = result_df.loc[index, 'Fan Time (minute)'] / 60
        
    
#     current_state = clean_df.loc[current_row, 'STATE_DATA']

In [158]:
result_df

               Timestamp Fan Time (minute) Fan Time Per Hour
0    2020-06-25 14:00:00                 0                 0
1    2020-06-25 15:00:00
2    2020-06-25 16:00:00
3    2020-06-25 17:00:00
4    2020-06-25 18:00:00
...                  ...               ...               ...
8677 2021-06-22 03:00:00
8678 2021-06-22 04:00:00                60                 1
8679 2021-06-22 05:00:00                60                 1
8680 2021-06-22 06:00:00                27              0.45
8681 2021-06-22 07:00:00

[8682 rows x 3 columns]

In [159]:
result_df.to_csv(path / 'test.csv', index=False)